body {
  font-family: sans-serif;
  margin: 0;
  background-color: #eee;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust minmax values as needed */
  gap: 8px; /* Adjust spacing between squares */
  margin: 0 auto;
  margin-bottom: 40px;
  width: 80%; /* Adjust container width for larger screens (optional) */
}

.day-container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;

}

.weekend {
  background-color: #ddd; /* Yellow color */
}

.day-title {
  font-size: 1em;
  color: #332B00;
  padding: 5px;
  margin-right: 15px;
  font-family: Arial Black, sans-serif;

}

.day-plan {
  padding: 5px;
  flex-grow: 1; /* Allow day-plan to fill remaining space */
  font-size: 1em;
  text-align: left; /* Center text within the square */
}

button {
  display: block;
  margin: 15px auto;
  padding: 20px 50px;
  border: none;
  border-radius: 5px;
  background-color: #FFD700;
  color: #111;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

/* Grocery List Styles */
.grocery-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.grocery-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; /* Add spacing between list items */
  padding: 15px; /* Add padding for content */
  background-color: #fff; /* White background */
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 5px; /* Rounded corners */
  font-weight: bold; /* Bold text for heading style */
}

.grocery-list li input[type="checkbox"] {
  margin: 0 10px 0 0; /* Add margin for spacing */
}

/* Optional: Checkbox Styling (Customize as desired) */
.grocery-list li input[type="checkbox"] {
  appearance: none; /* Remove default checkbox appearance */
  width: 16px;
  height: 16px;
  border: 2px solid #ccc; /* Border for checkbox */
  border-radius: 50%; /* Round checkbox shape */
  background-color: #fff; /* Initial checkbox color (unchecked) */
}

.grocery-list li input[type="checkbox"]:checked {
  background-color: #33cc33; /* Checkbox color when checked (green) */
}
