body {
  font-family: sans-serif;
  margin: 0;
  background-color: #eee;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust minmax values as needed */
  gap: 8px; /* Adjust spacing between squares */
  margin: 0 auto;
  margin-bottom: 40px;
  width: 80%; /* Adjust container width for larger screens (optional) */
}

.day-container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;

}

.weekend {
  background-color: #ddd; /* Yellow color */
}

.day-title {
  font-size: 1em;
  color: #332B00;
  padding: 5px;
  margin-right: 15px;
  font-family: Arial Black, sans-serif;

}

.day-plan {
  padding: 5px;
  flex-grow: 1; /* Allow day-plan to fill remaining space */
  font-size: 1em;
  text-align: left; /* Center text within the square */
}

button {
  display: block;
  margin: 15px auto;
  padding: 20px 50px;
  border: none;
  border-radius: 5px;
  background-color: #FFD700;
  color: #111;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
